@import url("./bootstrap/bootstrap.css");


.row-task{

	border: 1px solid black;
	margin-top: 2px;
}

.ref {
	margin-left: 10px;
}
.input-form {

	margin-bottom: 40px;
	margin-top: 40px;
}

.input-img {

	height: 320px;
	width: 240px;
}

label {
	
  display: inline-block;
  width: 8em;
  height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
}